html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

header {
  background-color: #191a1b;
  border: 1px solid transparent; /* fixes whitespace collapsing */
}

nav {
  height: 14vh;
  display: flex;
  align-items: center;
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  list-style: none;
  width: 565px;
  justify-content: space-between;
  margin-left: 270px;
}
.nav-links a {
  font-family: 'Montserrat', sans-serif;
  color: #f9faf8;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-family: 'Major Mono Display', monospace;
  color: #f9faf8;
  font-size: 18px;
  display: block;
  margin-left: 150px;
  text-decoration: none;
  padding: 15px;
  border: 3px solid #3882f6;
}

.hero {
  margin: 109px 150px;
  display: grid;
  grid-template-columns: 40% 55%;
  column-gap: 5%;
}

.hero-text {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.hero-title {
  color: #f9faf8;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 3px;
}

.hero-desc {
  margin-top: 25px;
  color: #e5e7eb;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.hero-action {
  display: block;
  margin-top: 25px;
  width: 134px;
  height: 51px;
  padding: 15px 20px;
  background-color: #3882f6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #f9faf8;
  text-decoration: none;
}

.hero-img img {
  width: 95%;
  height: 276px;
  border: 2px solid rgba(249, 250, 248, 0.31);
}

.features h2 {
  text-align: center;
  margin-top: 66px;
  padding: 25px;
  margin-bottom: 35px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list {
  display: flex;
  margin-bottom: 101px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 254px;
  margin-right: 40px;
}

.feature img {
  width: 138px;
  height: 166px;
  border-radius: 15px;
}

.feature p {
  margin-top: 29px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(190, 191, 192, 0.31);
}

.testimonials > * {
  margin-top: 66px;
  margin-bottom: 66px;
}

.testimonial-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 490px;
  border: 4px solid #191a1b;
}

.testimonial-title p {
  padding: 10px;
  background-color: #c38423;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 290px;
  color: #d9d9d9;
}

.testimonial-text {
  width: 616px;
  height: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 74px;
  border-left: 2.5px solid #d9d9d9;
  position: relative;
  line-height: 200%;
}

.user-image {
  margin-top: 20px;
  width: 186px;
  height: 186px;
}

.user-image img {
  width: 186px;
  height: 186px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #20303e;
}

.user-testimonial {
  margin-top: 20px;
  width: 540px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #20303e;
  text-align: justify;
}

.user-testimonial span {
  display: block;
  margin-left: 68%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.dots-container {
  display: flex;
  width: 175px;
  justify-content: space-between;
  position: absolute;
  bottom: 16px;
}

.dots {
  width: 33px;
  height: 33px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.dots:first-child {
  background-color: #bab8b8;
}
